@import 'compass/css3';


.page-references{
	.references{
		@include make-row;
	}
}

.references-item{
	@include make-sm-column(6);
	@include make-md-column(4);
	.panel{
		border: 1px solid;
		height: 270px;
		overflow: hidden;
		position: relative;
		.panel-heading{
			border-bottom: 1px solid;
			padding-top: 16px;
			padding-bottom: 16px;
			height: 65px;
			background: #fff;
			position: relative;
			z-index: 2;
			.panel-heading-inner{
				@include make-row;
				line-height: 1.2em;

				.panel-heading-title{
					@include make-sm-column(8);
				}
				.panel-heading-date{
					@include make-sm-column(4);
				}

				.panel-heading-title{
					color: $brand-primary;
				}

				.panel-heading-date{
					text-align: right;
				}
			}
		}

		.carousel{
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 0;

			.icon-next,.icon-prev{
				width: 11px;
				height: 19px;

				&:before{
					display: none;
				}
			}
			.icon-next{
				background: url('../images/icon_right.png') no-repeat top right; 
				background-size: 100% 100%;

			}
			.icon-prev{
				background: url('../images/icon_left.png') no-repeat top right; 
				background-size: 100% 100%;
			}

			.carousel-control.left, 
			.carousel-control.right{
				background: none;
				@include opacity(1); 
			} 
			.carousel-indicators{
				li{
					position: relative;
					@include border-radius(8px);
					width: 16px;
					height: 16px;
					margin: 0 5px;

					&.active{
						@include border-radius(8px);
						width: 16px;
						height: 16px;
						background-color: transparent; 
						border: 1px solid #fff;
						margin: 0 2px;

						&:after{
							content: " ";
							@include border-radius(5px);
							position: absolute;
							top: 2px;
							left: 2px;
							display: block;
							width: 10px;
							height: 10px;
							background: #fff; 
						}

					}
				}
			}

			.zoom{
				display: none;
				@media(min-width: $screen-xs-min){
					display: block;
				}
				width: 30px;
				height: 30px;
				background: url(../images/icon_zoom.png) no-repeat;
				background-size: 100% 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -15px 0 0 -15px;
				z-index: 100;
				@include opacity(0.8);
				&:hover{
					@include opacity(1);
				}
			}


		}

		.panel-body{
			position: relative;
			z-index: 1;
			background: #fff;
			height: 220px; 
			@include transition-property(margin opacity);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-in);


			.btn-slideup{
				text-align: center;
				position: absolute;
				width: 100%;
				bottom:40px;
				left: 0;
				span{
					display: inline-block;
					border: 1px solid $brand-primary;
					color: $brand-primary;
					width:  31px;
					height: 31px;
					line-height: 31px;
				}
			}
		}
		&:hover, &.hover_effect{
			cursor: pointer;
			.panel-body{
				margin-top: -400px;
				@include opacity(0);
				.btn-slideup span{
					background-color: $brand-primary;
					color: #fff;
				}
			}
		}
	}
}
