.page-backstage{

	section.ourteam{

		h3, p{
			text-align: center;
		}

		.contact, .contact .text, .contact .image {
			width: 100%;
			height: 380px;

			@media(min-width: $screen-sm-min){
				height: 450px;
			}
			@media(min-width: $screen-md-min){
				height: 280px;
			}
			@media(min-width: $screen-lg-min){
				height: 345px;
			}

		}
		.no-touch &{
			.contact:hover .contact-inner{
				transform: rotateY(180deg);
			}			
		}

		.contact.hover_effect .contact-inner{
			transform: rotateY(180deg);
		}			

		.contact {
			perspective: 1000;
			.contact-inner {
				transition: 0.6s;
				transform-style: preserve-3d;
				position: relative;

				.text, .image {
					backface-visibility: hidden;
					-webkit-backface-visibility: hidden;
					position: absolute;
					top: 0;
					left: 0;
				}

				/* front pane, placed above back */
				.image {
					z-index: 2;
					/* for firefox 31 */
					transform: rotateY(0deg);
					align: center;
				}

				/* back, initially hidden pane */
				.text {
					transform: rotateY(180deg);
					background: rgba($brand-primary, 0.8);
					color: #fff;
					padding-top: 130px;
					font-size: 18px;
					font-weight: 500;

					@media(min-width: $screen-sm-min){
						padding-top: 100px;
						font-size: 18px;
					}
					@media(min-width: $screen-md-min){
						padding-top: 80px;
						font-size: 15px;
					}

					@media(min-width: $screen-lg-min){
						padding-top: 100px;
						font-size: 18px;
					}

					ul, li{
						list-style: none;
						margin: 0;
						padding: 0;
						text-align: center;

					}

					li{
						margin: 5px 20px;
					}
					a{
						text-decoration: none;
						color: #fff;
					}
				}

			}



		}


	}
	section.steps{
		h3{
			text-align: left;
			font-size: 32px;
			font-weight: normal;
			b{
				font-weight: normal;
				font-size: 80px;
			}
		}

		p{
			font-size: 18px;
			line-height: 1.4em;
			margin: 0;
			text-align: left;
			padding-right: 10%;
		}
	}

	section.general-information{
		font-size: 18px;
		line-height: 1.8em;
		text-align: left;
	}
	section.map{
		iframe{
			margin: 0;
			border: none;
			margin-top: 50px;
		}
	}

}