<!DOCTYPE html>
%html{ :lang => 'en' }

%head
  %meta{:charset => "utf-8"}
  %meta{'http-equiv' => "X-UA-Compatible", :content =>"IE=edge,chrome=1"}

  -# Pull in the page title
  %title= current_page.data.title

  %meta{:name => "description", :content => ""}
  %meta{:name => "author", :content => ""}
  %meta{:name =>"viewport", :content => "width=device-width, initial-scale=1.0"}

  = stylesheet_link_tag "style"
 
%body{class: current_page.data.pageclass}

  .page-wrap{style: "height:2000px; background: url(images/ourcoll_sample2.png) no-repeat  50% 0 " }
    ~ yield
  }



