<!DOCTYPE html>
%html{ :lang => 'en' }

%head
  %meta{:charset => "utf-8"}
  %meta{'http-equiv' => "X-UA-Compatible", :content =>"IE=edge,chrome=1"}

  -# Pull in the page title
  %title= current_page.data.title

  %meta{:name => "description", :content => ""}
  %meta{:name => "author", :content => ""}
  %meta{:name =>"viewport", :content => "width=device-width, initial-scale=1.0"}

  = stylesheet_link_tag "style"
 
%body{class: current_page.data.pageclass}
  .navbar.navbar-default.navbar-fixed-top
    .toggle-holder
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        %span.menutext MENU


    %a.navbar-brand(href="./index.html")
      %img.logo.logo-desktop{:src => "images/mauridmc_logo@2x.png", :alt => ""}/
      %img.logo.logo-mobile{:src => "images/mauridmc_logo_mobile@2x.png", :alt => ""}/
      %img.dmc{:src => "images/dmc_text.png", :alt => ""}/

    .navbar-language-select
      %ul
        %li= link_to "FR", "./our-work-is-our-passion.html"


    .navbar-collapse.navbar-right.collapse.navbar-responsive-collapse.navbar-primary
      %ul.nav.navbar-nav.navbar-main
        %li.active= link_to "Our work is our passion", "./our-work-is-our-passion.html"
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :title => "Our collection"}
            Our collection
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li#menu-item-31.menu-item.menu-item-type-post_type.menu-item-object-collection.menu-item-31
              %a{:href => "http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/", :title => "LIVE UNLIMITED BUDAPEST"} LIVE UNLIMITED BUDAPEST
            %li#menu-item-38.active.menu-item.menu-item-type-post_type.menu-item-object-collection.menu-item-38
              %a{:href => "http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/", :title => "THE CITY THAT MAKES US MOVE"} THE CITY THAT MAKES US MOVE
            %li#menu-item-31.menu-item.menu-item-type-post_type.menu-item-object-collection.menu-item-31
              %a{:href => "http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/", :title => "LIVE UNLIMITED BUDAPEST"} LIVE UNLIMITED BUDAPEST
            %li#menu-item-38.menu-item.menu-item-type-post_type.menu-item-object-collection.menu-item-38
              %a{:href => "http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/", :title => "THE CITY THAT MAKES US MOVE"} THE CITY THAT MAKES US MOVE
            %li#menu-item-31.menu-item.menu-item-type-post_type.menu-item-object-collection.menu-item-31
              %a{:href => "http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/", :title => "LIVE UNLIMITED BUDAPEST"} LIVE UNLIMITED BUDAPEST
            %li#menu-item-38.menu-item.menu-item-type-post_type.menu-item-object-collection.menu-item-38
              %a{:href => "http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/", :title => "THE CITY THAT MAKES US MOVE"} THE CITY THAT MAKES US MOVE
            %li#menu-item-31.menu-item.menu-item-type-post_type.menu-item-object-collection.menu-item-31
              %a{:href => "http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/", :title => "LIVE UNLIMITED BUDAPEST"} LIVE UNLIMITED BUDAPEST
            %li#menu-item-38.menu-item.menu-item-type-post_type.menu-item-object-collection.menu-item-38
              %a{:href => "http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/", :title => "THE CITY THAT MAKES US MOVE"} THE CITY THAT MAKES US MOVE
            %li#menu-item-31.menu-item.menu-item-type-post_type.menu-item-object-collection.menu-item-31
              %a{:href => "http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/", :title => "LIVE UNLIMITED BUDAPEST"} LIVE UNLIMITED BUDAPEST
            %li#menu-item-38.menu-item.menu-item-type-post_type.menu-item-object-collection.menu-item-38
              %a{:href => "http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/", :title => "THE CITY THAT MAKES US MOVE"} THE CITY THAT MAKES US MOVE
            %li#menu-item-31.menu-item.menu-item-type-post_type.menu-item-object-collection.menu-item-31
              %a{:href => "http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/", :title => "LIVE UNLIMITED BUDAPEST"} LIVE UNLIMITED BUDAPEST
            %li#menu-item-38.menu-item.menu-item-type-post_type.menu-item-object-collection.menu-item-38
              %a{:href => "http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/", :title => "THE CITY THAT MAKES US MOVE"} THE CITY THAT MAKES US MOVE

        %li= link_to "Latest trends", "./latest-trends.html"
        %li= link_to "References", "./references.html"
        %li= link_to "Study tour", "./study-tour.html"
        %li= link_to "Backstage", "./backstage.html"


  .page-wrap
    ~ yield

  %footer.site-footer
    .container
      .row
        .col-sm-4

          %img.logo{:src => "images/mauridmc_logo_mobile@2x.png", :alt => ""}/
          %p.copy
            &copy;#{copyright_years(2015)}  Mauri DMC – All rights reserved
        
        .col-sm-4.text-center.contact
          %p 
            %i.fa.fa-home 
            H-1012 Budapest, Márvány utca 18.
            
            %ul.list-inline
              %li
                %a{:href => "#"}
                  %i.fa.fa-phone 
                  + 36 1 225 03 60
              %li
                %a{:href => "#"}
                  %i.fa.fa-mobile 
                  + 36 30 4666 816    

        .col-sm-4
          %ul.list-unstyled.social
            %li
              %a{:href => "#"}
                %i.fa.fa-facebook
            %li
              %a{:href => "#"}
                %i.fa.fa-linkedin
            %li
              %a{:href => "#"}
                %i.fa.fa-envelope


  = javascript_include_tag "main"



