@import "font-awesome-sprockets";
@import "font-awesome";


@import "bootstrap-sprockets";
@import "fonts";
@import "bootstrap-variables-override";
@import "bootstrap";

@import "components/typography";
@import "components/parallax";
@import "components/gallery";
@import "components/lightbox";
@import "components/animation";
@import "components/footer";
@import "components/navbar";
@import "components/header-illustration";
@import "components/collection";
@import "components/form";
@import "pages/page-home";
@import "pages/page-references";
@import "pages/page-backstage";

//= require lightgallery

// @import url(http://fonts.googleapis.com/css?family=Montserrat);
// @import url(http://fonts.googleapis.com/css?family=Belgrano);

// Your own styles go here.

// Idiomatic customisation of twitter bootstrap is
// via use of variables that they provide for precisely
// this purpose. For example:

$bodyBackground:  #F1F1F1;
$textColor:       #393536;
$sansFontFamily:  "Montserrat";
$serifFontFamily: "Belgrano";



body{
	padding-top: 130px;
}

.panel-default{
	height: 280px;
	overflow: hidden; 
}

.hover {
-webkit-user-select: none;
-webkit-touch-callout: none;        
}
