.collection-item{

	@include clearfix();

	padding-top: $grid-gutter-width;
	padding-bottom: $grid-gutter-width;
	position: relative;
	clear: both;


	.parallax{
		img{
			width: 100%;
			@include filter(grayscale(100%));
			@include transition(all 0.5s ease-out);
		}
	}

	@media(min-width: $screen-sm-min){

		.parallax{
			width: 60%;
			float: left;
			img{
				@include filter(grayscale(100%));
				@include transition(all 0.5s ease-out);
			}

			&:hover img{
				@include filter(grayscale(0%));				
				@include transform(scale(1.03));				
			}

		}

		&.right .parallax{
				float: right;
		}

		&.portrait{
			width: 45%;
			float: left;
			clear: none;

			.parallax{
				width: 80%;
				float: left;
				margin:0 10%;
			}

			&.right{
				width: 55%;
				.parallax{
					float: right;
				}
			}
		}


	}


	.text{
		background: #fff;
		text-align: center;
		margin: -50px 30px 0 30px;
		padding: 18px 24px;
		position: relative;
		z-index: 10;
		float: right;

		h3, p{
			font-family: $font-family-sans-serif;
			margin: 0;
			padding: 0;
			font-size: 14px;
		}
		
		h3{
			color: $brand-primary;
			font-weight: 400;
			margin-bottom: 5px;
			font-size: 18px;
		}
	}

	@media(min-width: $screen-sm-min){

		.text{
			position: absolute;
			text-align: left;
			top: 120px;
			right: 20%;
		}

		&.right .text{
			right: auto;
			float: left;
			left: 20%;
			text-align: right;
		}

		&.portrait .text{
			right: auto;
			left: 0;
			float: left;
			padding: 18px 24px 18px 0;
			text-align: right;
		}
		&.portrait.right .text{
			right: 0;
			left: auto;
			float: right;
			padding: 18px 24px;
			padding-right: 0;	
			bottom: 120px;
			top: auto;
			text-align: left;

		}
	}

}