html, body {
	height: 100%;
}

@media(min-width: $screen-sm-min){

	.page-wrap {
	  min-height: 100%;
	  /* equal to footer height */
		margin-bottom: -90px; 

	}
	.page-wrap:after {
	  content: "";
	  display: block;
	}
	.site-footer, .page-wrap:after {
	  /* .push must be the same height as footer */
		height: 90px; 
		padding: 30px 0;
		line-height: 30px;
	}

}
.site-footer {
	background: $brand-primary;
	color: #fff;
	font-size: 14px;
	line-height: 1.4em;
	text-align: center;
	position: relative;
	z-index: 10;


	p{
		margin: 0;
		padding: 0;
	}
	a{
		color: #fff;
		&:hover{
			color: #fff;
		}
	}

	i.fa{
		margin-right: 5px;
		font-size:18px;
	}

	.copy{
		font-size: 0.8em;
		margin-top: 10px;
		font-weight: 400;
		margin-bottom: 20px;
		@media(min-width: $screen-sm-min){
			margin-bottom: 0px;
		}
	}


	@media(min-width: $screen-sm-min){
		font-size: 12px;
		text-align: left;
		ul{
			margin: 0;
			li{
				margin: 0 5px;
			}
		}

		.contact{
			margin-top: -10px;
		}
	}

	@media(min-width: $screen-md-min){
		font-size: 14px;
	}


	.logo{
		margin: 20px 0 0 0;
		width: 80px;

		@media(min-width: $screen-sm-min){
			margin: -10px 0 0px 0;
			//float: left;
		}


	}
	b{
		font-weight: normal;
	}


	ul.social{
		@extend .list-inline;
		text-align: center;
		margin: 20px 0;
		@media(min-width: $screen-sm-min){
			text-align: right;
			margin: 0;
		}

		li{
			margin-left: 12px;
			a{
				display: block;
				height: 36px;
				width: 36px;
				text-align: center;
				vertical-align: bottom;
				border: 1px solid #fff;
				i{
					font-size:22px;
					margin: 6px 0 0;
				}
			}
		}
	}
}