form{

	padding-bottom: 50px;
	.form-control{
		margin-bottom: 10px;
	}

	textarea.form-control{
		height: 122px;
	}

	.btn{
		background: #fff;
		color: $brand-primary;
		&:hover{
			color: #fff;
			background: $brand-primary
		}
	}
}