@import 'compass/css3';


.gallery{

	.title{
		
		padding: 20px;
		background: #fff;
		color: $brand-primary;
		text-align: center;
		margin: 0 50px;
		position: relative;
		z-index: 10;
		b{
			display: block;
			color: #888;
			font-weight: normal;
		}
		@media(min-width: $screen-sm-min){
		}
		@media(min-width: $screen-md-min){
			margin-top: -160px;
			font-size: 16px;
		}
		@media(min-width: $screen-lg-min){
			margin-top: -220px;
		}

	}

	.link{
		display: block;
		position: relative;
		margin-bottom: $grid-gutter-width; 

		.text{

			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			color: #FFF;
			background: #cc0e60;
			z-index: 1;
			text-align: center;
			@include transparent;
			@include transition(opacity, 0.5s ease-out);


			h3, p{
				position: absolute;
				font-family: $font-family-sans-serif;
				line-height: 1.5em;
				width: 100%;
				left: 0;
				color: #fff;
				padding: 0 10%;
				font-size: 14px;

				@media(min-width: $screen-sm-min){
				}
				@media(min-width: $screen-md-min){
					font-size: 18px;
					padding: 0 20%;
				}
				@media(min-width: $screen-lg-min){
				}

			}
			h3{
				top: 5%;

				@media(min-width: $screen-md-min){
					top: 10%;
				}

			}
			p{
				bottom: 5%;
				@media(min-width: $screen-md-min){
					bottom: 10%;
				}
			}		


		}

		.no-touch &{
			&:hover .text{
				  @include opacity(1);
				  background: rgba($brand-primary, 0.8);;
			}
		} 

		&.hover_effect .text{
			  @include opacity(1);
			  background: rgba($brand-primary, 0.8);;
		}

	}

	a{
		.text:after{
			content: " ";
			display: block;
			width: 30px;
			height: 30px;
			background: url(../images/icon_zoom.png) no-repeat;
			background-size: 100% 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -15px 0 0 -15px;
			z-index: 2
		}


	}
}
