.header-illustration{


	@media(min-width: $screen-sm-min){
		padding: 40px 0 10px 0;
	}
	@media(min-width: $screen-md-min){
	}
	@media(min-width: $screen-lg-min){
	}

	position: relative;
	@include clearfix;
	.illustration{
		@include make-sm-column(6);
		@include make-sm-column-pull(3);
		position: relative;
		margin-top: 30px;
		margin-bottom: 30px;
		@media(min-width: $screen-sm-min){
			margin: 0;
		}

		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
	.text{
		@include make-sm-column(4);
		@include make-sm-column-push(7);
		text-align: center;
		h1{
			font-family: $font-family-serif;
			color: $brand-primary;
			font-size: 18px;

			@media(min-width: $screen-md-min){
				font-size: 24px;
			}

			font-weight: normal;
			b, strong{
				font-size: 24px;
				@media(min-width: $screen-md-min){
					font-size: 30px;
				}
				font-weight: normal;
			}
		}
	}
}



.header-illustration-home{
	
	position: relative;
	margin-top: -40px;
	@media(min-width: $screen-sm-min){	
		margin-top: auto;
		height: auto;
	}
	@media(min-width: $screen-md-min){
	}
	@media(min-width: $screen-lg-min){
	}

	// position: relative;
	// @include clearfix;
	.illustration{
		position: relative;
		margin-top: 30px;
		margin-bottom: 0;
		height: 300px;
		@media(min-width: $screen-sm-min){
			height: auto;
			margin: 0;
		}
		

		img{
			
			position: absolute;
			max-height: 400px;

			&.ill-1{
				left: 30px;
				bottom: 80px;
				width: 80px;
			}
			&.ill-2{
				right: 30px;
				bottom: 0;
				width: 200px;
			}
			&.ill-3{
				right: 90px;
				top: 100px;
				width: 100px;
			}
			&.ill-4{
				right: 100px;
				top: 0;
				width: 80px;
			}
		}

		@media(min-width: $screen-sm-min){

			img{
				//top: 0;
				//left: 0;
				max-height: 500px;

				&.ill-1{
					left: 100px;
					top: 30%;
					width: 15%;
					bottom: auto;
				}
				&.ill-2{
					right: 20%;
					bottom: 0;
				}
				&.ill-3{
					right: 90px;
					top: 35%;
					width: 20%;
				}
				&.ill-4{
					right: 40%;
					top: 0;
				}
			}

		}
	}
	.text{
		@include make-sm-column(6);
		@include make-sm-column-push(3);
		text-align: center;

		@media(min-width: $screen-sm-min){
			position: absolute;
			z-index: 10;
			top: 20%; 
		}

		h1{
			font-family: $font-family-serif;
			color: $brand-primary;
			font-weight: 200;
			font-size: 28px;

			@media(min-width: $screen-sm-min){
				font-size: 36px;
			}
			@media(min-width: $screen-md-min){
				font-size: 46px;
			}

			font-weight: normal;
			b, strong{
				font-size: 34px;
				@media(min-width: $screen-sm-min){
					font-size: 50px;
				}
				@media(min-width: $screen-md-min){
					font-size: 60px;
				}
				font-weight: normal;
			}
		}
	}
}