.navbar-default{
	
	border: none;
	background: rgba(255,255,255,1); 
	@include transition-property(height);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-in);

	@media(min-width: $grid-float-breakpoint){
		background: rgba(255,255,255,0.9); 

		.scrolled &{
			height: 80px;
		}

	}
	.navbar-brand{
		padding: 10px;
		height: 50px;
		position: relative;
		background: $brand-primary;
		img.logo{
			width: 80px;
			display: block;
			float: left;
			&.logo-desktop{
				display: none;
			}
		} 

		img.dmc{
			position: absolute;
			top: 8px;
			right: -78px;
			width: 71px

		}
		@media(min-width: $screen-sm-min){
			margin-left: 50px;
			height: 100px;
			padding: 20px 8px 0px 6px;
			img.logo{
				width: 55px;
				display: block;
				float: left;
				&.logo-desktop{
					display: block;
				}
				&.logo-mobile{
					display: none;
				}


			} 

			img.dmc{

				@include transition-property(top);
				@include transition-duration(0.2s);
				@include transition-timing-function(ease-in);

				top: 50px;
				.scrolled &{
					top: 25px;
				}

			}


		}
	}

	.navbar-collapse{
		text-align: center;
		clear: both;
			@media(max-width: $screen-xs-max){
				max-height: 350px;
				text-overflow: ellipsis;
				overflow: scroll !important;
			}

		@media(min-width: $screen-sm-min){
			clear: none;
			margin-top: 0;
			padding-top: 0px;
			margin-right: 50px;
			margin-top: 40px;
		}


	}

	
	.navbar-language-select {
		
		ul{
			text-align: center;
			li, a{
				display: inline-block;
			}	


			li.current-lang a{
				color: $brand-primary;
			}
		}


		@media(max-width: $screen-sm-max){
			position: fixed;
			top: 0;
			right: 50px;
			a{
				height: 50px;
				width: 50px;
				padding: 15px 13px 24px;
				background: #eee; 
			}
		}
		@media(min-width: $screen-md-min){
			clear: right;
			margin-right: 50px;
			position: absolute;
			top: 0;
			right: 0;
			.scrolled &{
			}


			@include transition-property(margin);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);


			a{
				font-size: 12px;
				margin: 5px 10px
			}
		}

	}


	.toggle-holder{
		position: absolute;
		top: 0;
		right: 0;
		@media(min-width: $screen-md-min){
			right: 50px;
		}
		.navbar-toggle{
			background: #888888; 
			margin: 0;
			height: 50px;
			width: 50px;
			padding: 15px 13px 24px;
			overflow: hidden;
			clear: both;
			text-align: center;
			line-height: 26px;
			.icon-bar{
				width: 24px;
				height: 1px;
			}
			.menutext{
				color: #fff;
				font-size: 11px;
				position: absolute;
				width: 100%;
				text-align: center;
				display: block;
				bottom: 8px;
				left: 0;
				height: 15px;
			}

		}

	}
	.navbar-main{


		.open .dropdown-menu{
			padding: 0;
			@include box-shadow(none);
			background: $brand-primary; 
			text-align: center;
			> li > a{
				color: #fff;
				padding: 10px 10px;

				&:hover{
					color: #fff;					
				}
			}
		}


		@media(min-width: $screen-md-min){
			
			margin:  21px 0 20px 0;
			.scrolled &{
				margin-top: 1px;
			}

			@include transition-property(margin);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);


			.open .dropdown-menu{
				background: $brand-primary; 
				text-align: left;

				> li > a{
					padding: 3px 0;
					margin: 3px 10px;
					color: #fff;
					font-size: 0.8em;
					position: relative;
					&:after{
						background: #fff;

					}
				}
			}


		}
		

		li{
			a{
				text-transform: uppercase;
				font-size: 13px;
				padding-left: 3px;
				padding-right: 3px;
				margin: 0 10px;


				@media(min-width: $screen-md-min){
					&:after {
						position: absolute;
						top: 100%;
						left: 0;
						width: 100%;
						height: 1px;
						background: $brand-primary;
						content: '';
						opacity: 0;
						-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
						-moz-transition: opacity 0.3s, -moz-transform 0.3s;
						transition: opacity 0.3s, transform 0.3s;
						-webkit-transform: translateY(-5px);
						-moz-transform: translateY(-5px);
						transform: translateY(-5px);
					}

					&:hover,
					&:focus {
						&:after{
							opacity: 1;
							-webkit-transform: translateY(0px);
							-moz-transform: translateY(0px);
							transform: translateY(0px);
						}
					}
				}

				@media(min-width: $screen-md-min){
					font-size: 12px;
					padding-left: 0;
					padding-right: 0;

				}
				@media(min-width: $screen-lg-min){
					font-size: 13px;
				}

			}
		}
	}

}