
h1, h2, h3, h4{
}
.heading-separated{

	font-size: 28px;
	@media(min-width: $screen-sm-min){
	font-size: 42px;
	}

	text-align: center;
	border-top: 1px solid $brand-primary;
	text-transform: uppercase;
	margin-top: 100px;
	span{
		background: #fff;
		display: inline-block;
		padding: 3px 45px;
		position: relative;
		top: -0.5em;
	}
}