---
title: Mauri DMC – Our collection
pageclass: page-backstage
---

.header-illustration
  .text.wow.fadeInBottom
    %h1 
      Le premier rendez-vous Découvrir les 
      %b différentes collections 
      (essayage) Réalisation de vos croquis en fonction de votre évènement, 
      %b de vos goûts, 
      de votre morphologie. Et des tissus qui vou subliment. 
      %b Présentation du 
      devis. Prise de mesure  
  .illustration
    %img.wow.fadeInLeft.animated{:src => "images/backstage-3-mdc-illusztr-2015.png", "data-wow-delay" => "0.5s"}/
    %img.wow.fadeInRight.animated{:src => "images/backstage-2-mdc-illusztr-2015.png", "data-wow-delay" => "0.6s"}/
    %img.wow.fadeInLeft.animated{:src => "images/backstage-1-mdc-illusztr-2015.png", "data-wow-delay" => "0.7s"}/





.container
  %section.row.steps
    %h2.heading-separated 
      %span TO HAVE YOUR TAILOR MADE COSTUME, 
      %br/
      PREPARATIONS TO FOLLOW UP
    .col-sm-4.text-center
      %h3 
        %b 1 
        rendez-vous
      %p Discover the different Collections(fitting)
      %p Realisation of your sketches according to your events, taste, morphology and materials that sublimate you
      %p Specification presentation
      %p Taking measurements
    .col-sm-4.text-center
      %h3 
        %b 2 
        rendez-vous
      %p Fitting of your model
      %p Adjustment, pinning, cutting necklines...
    .col-sm-4.text-center
      %h3 
        %b 3 
        rendez-vous
      %p Creation completed(perfect finish)
      %p Here’s your event just for you
  
  %section.ourteam
    %h2.heading-separated 
      %span Our team
    .row
      .col-sm-6.col-md-3
        .contact.hover
          .contact-inner
            .image
              %img.img-responsive{:src => "http://dummyimage.com/440x580/eee/ddd", :alt => ""}/
            .text
              %ul
                %li Tel.: +36 1 225 0360
                %li Mob: +36 30 466 6816
                %li 
                  %a{:href => "mailto:dora@mauridmc.hu"} dora@mauridmc.hu

        %h3 Dora Farkas
        %p.title Directrice 
  
      .col-sm-6.col-md-3
        .contact.hover
          .contact-inner
            .image
              %img.img-responsive{:src => "http://dummyimage.com/440x580/eee/ddd", :alt => ""}/
            .text
              %ul
                %li Tel.: +36 1 225 0360
                %li Mob: +36 30 466 6816
                %li 
                  %a{:href => "mailto:dora@mauridmc.hu"} dora@mauridmc.hu

        %h3 Dora Farkas
        %p.title Directrice 
  
      .col-sm-6.col-md-3
        .contact.hover
          .contact-inner
            .image
              %img.img-responsive{:src => "http://dummyimage.com/440x580/eee/ddd", :alt => ""}/
            .text
              %ul
                %li Tel.: +36 1 225 0360
                %li Mob: +36 30 466 6816
                %li 
                  %a{:href => "mailto:dora@mauridmc.hu"} dora@mauridmc.hu

        %h3 Dora Farkas
        %p.title Directrice 
  
      .col-sm-6.col-md-3
        .contact{ontouchstart: "this.classList.toggle('hover');"}
          .contact-inner
            .image
              %img.img-responsive{:src => "http://dummyimage.com/440x580/eee/ddd", :alt => ""}/
            .text
              %ul
                %li Tel.: +36 1 225 0360
                %li Mob: +36 30 466 6816
                %li 
                  %a{:href => "mailto:dora@mauridmc.hu"} dora@mauridmc.hu

        %h3 Dora Farkas
        %p.title Directrice 
  
  %section.general-information
    %h2.heading-separated
      %span
        General information
    .row
      .col-sm-4
        %b Mauri DMC 
        %br/
        H-1012 Budapest, 
        %br/
        Márvány utca 18.
      .col-sm-4
        Tel: + 36 1 225 03 60          
        %br/
        Fax:+ 36 1 225 03 61
        %br/
        E-mail: incoming@mauridmc.hu
      .col-sm-4
        www.mauridmc.hu
        %br/
        www.facebook.com/mauriDMC
        %br/
        www.linkedin.com/mauriDMC

%section.map
  %iframe{:frameborder => "3", :height => "280", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.7114819496846!2d19.027033200000005!3d47.495533699999974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc25d5af33cf%3A0x51eaca483b2002c8!2sMauri+DMC!5e0!3m2!1sen!2shu!4v1441666534882", :width => "100%"}