---
title: Mauri DMC
pageclass: home
---
.header-illustration-home
  .text
    %h1.wow.fadeInUp.animated{"data-wow-delay" => "1.5s"}
      %b Tailor-made 
      services led by our passion for 
      %b excellence.
  .illustration
    %img.ill-1.wow.fadeInLeft.animated{:src => "images/home_ill_1.png", "data-wow-delay" => "0.5s"}/
    %img.ill-2.wow.fadeInLeft.animated{:src => "images/home_ill_2.png", "data-wow-delay" => "0.6s"}/
    %img.ill-3.wow.fadeInRight.animated{:src => "images/home_ill_3.png", "data-wow-delay" => "0.7s"}/
    %img.ill-4.wow.fadeInRight.animated{:src => "images/home_ill_4.png", "data-wow-delay" => "0.8s"}/




