---
title: Mauri DMC – Our work
---


.header-illustration
  .text.wow.fadeInBottom
    %h1 
      %b Mauri DMC qualified incoming agency, english speaking team
      %b specialised from years in the organisation of events
      %b A perfect knowledge of our destination 
      and our special relationship with carefully selected local partners allow us to offer you the
      %b most suitable programs
      for your request.
      Our work with the clients is based on a
      %b real partnership from the first canvas
      %b to the final version.&#160;
  .illustration
    %img.wow.fadeInLeft.animated{:src => "images/backstage-3-mdc-illusztr-2015.png", "data-wow-delay" => "0.5s"}/
    %img.wow.fadeInRight.animated{:src => "images/backstage-2-mdc-illusztr-2015.png", "data-wow-delay" => "0.6s"}/
    %img.wow.fadeInLeft.animated{:src => "images/backstage-1-mdc-illusztr-2015.png", "data-wow-delay" => "0.7s"}/


