---
title: Mauri DMC – Our collection
---


.header-illustration
  .text.wow.fadeInBottom
    %h1 
      Throw you in an « operation of seduction » with our collections spring-summer, fall winter!
      %br A collection très couture where every detail is carefully well kept. 
  .illustration
    %img.wow.fadeInLeft.animated{:src => "images/backstage-3-mdc-illusztr-2015.png", "data-wow-delay" => "0.5s"}/
    %img.wow.fadeInRight.animated{:src => "images/backstage-2-mdc-illusztr-2015.png", "data-wow-delay" => "0.6s"}/
    %img.wow.fadeInLeft.animated{:src => "images/backstage-1-mdc-illusztr-2015.png", "data-wow-delay" => "0.7s"}/
.container
  %h2.heading-separated
    %span Live unlimited Budapest
  .lightbox
    .collection-item.portrait.right
      .parallax{"data-parallax" => '{"y": -100}'}
        %a{:href => "http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/Dunarama_kicsi_4-2-P-515x750.jpg", 'data-toggle'=>"lightbox", 'data-gallery'=>"multiimages"}

          %img{:src => "http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/Dunarama_kicsi_4-2-P-515x750.jpg"}
      
    .collection-item.portrait
      .parallax{"data-parallax" => '{"y": -100}'}
        %a{:href => "http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/DSC01767-563x750.jpg", 'data-toggle'=>"lightbox", 'data-gallery'=>"multiimages"}
          %img{:src => "http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/DSC01767-563x750.jpg"}
      
    .collection-item.right
      .parallax{"data-parallax" => '{"y": -100}'}
        %a{:href => "http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/DIMANCHE.-678-P.jpg", 'data-toggle'=>"lightbox", 'data-gallery'=>"multiimages"}
          %img{:src => "http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/DIMANCHE.-678-P.jpg"}
      
      .text{"data-parallax" => '{"y": -30}'}
        %h3 vos plus belles soirées
        %p 27649803 DCMKO
    .collection-item
      .parallax{"data-parallax" => '{"y": -100}'}
        %a{:href => "http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/20140429-6051-1125x750.jpg", 'data-toggle'=>"lightbox", 'data-gallery'=>"multiimages"}
          %img{:src => "http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/20140429-6051-1125x750.jpg"}
      
      .text{"data-parallax" => '{"y": -30}'}
        %h3 vos plus belles soirées
        %p 27649803 DCMKO


  %h2.heading-separated
    %span Get in touch

  .row
    .col-sm-4
      %h3 Interested in more?
      %p Just fill out this form, give us some questions and we will contact you as soon as possible!
    .col-sm-6.col-sm-push-2
      %form.form-horizontal{:action => ""}
        .row
          .col-sm-6
            %input#firstName.form-control{:name => "firstName", :placeholder => "First Name", :required => "", :type => "text"}/
            %input#lastName.form-control{:name => "lastName", :placeholder => "Last Name", :required => "", :type => "text"}/
            %input#email.form-control{:name => "email", :placeholder => "E-mail", :required => "", :type => "email"}/
          .col-sm-6
            %textarea#message.form-control{:name => "message", :placeholder => "Your message or question", :required => ""}
        .row
          .col-sm-2.col-sm-push-10
            %button.btn.btn-primary.btn-block{:type => "submit"} Submit
