---
title: References
pageclass: page-references
---

.container

	.references
		.references-item
			.panel
				.panel-heading
					.panel-heading-inner
						.panel-heading-title
							Company, or event headline
						.panel-heading-date
							2015 Sep 9
				.panel-body
					%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					.logo.text-center
						%img{:src => "images/logo.jpg", :alt => ""}/
					.btn-slideup.hover
						%span
							%i.glyphicon.glyphicon-chevron-up
				#carousel-4.carousel.slide{"data-ride" => "carousel"}
					%ol.carousel-indicators
						%li.active{"data-slide-to" => "0", "data-target" => "#carousel-4"}
						%li{"data-slide-to" => "1", "data-target" => "#carousel-4"}
						%li{"data-slide-to" => "2", "data-target" => "#carousel-4"}

					.carousel-inner{:role => "listbox"}
						.item.active
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/1"}/
						.item
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/3"}/
						.item
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/2"}/

					%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-4", :role => "button"}
						%span.icon-prev{"aria-hidden" => "true"}
						%span.sr-only Previous
					%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-4", :role => "button"}
						%span.icon-next{"aria-hidden" => "true"}
						%span.sr-only Next

					%a.zoom{:href => "#"}


		.references-item
			.panel
				.panel-heading
					.panel-heading-inner
						.panel-heading-title
							Company, or event headline
						.panel-heading-date
							2015 Sep 9
				.panel-body
					%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					.logo.text-center
						%img{:src => "images/logo.jpg", :alt => ""}/
					.btn-slideup.hover
						%span
							%i.glyphicon.glyphicon-chevron-up
				#carousel-1.carousel.slide{"data-ride" => "carousel"}
					%ol.carousel-indicators
						%li.active{"data-slide-to" => "0", "data-target" => "#carousel-1"}
						%li{"data-slide-to" => "1", "data-target" => "#carousel-1"}
						%li{"data-slide-to" => "2", "data-target" => "#carousel-1"}

					.carousel-inner{:role => "listbox"}
						.item.active
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/1"}/
						.item
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/3"}/
						.item
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/2"}/

					%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-1", :role => "button"}
						%span.icon-prev{"aria-hidden" => "true"}
						%span.sr-only Previous
					%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-1", :role => "button"}
						%span.icon-next{"aria-hidden" => "true"}
						%span.sr-only Next

					%a.zoom{:href => "#"}		
		.references-item
			.panel
				.panel-heading
					.panel-heading-inner
						.panel-heading-title
							Company, or event headline
						.panel-heading-date
							2015 Sep 9
				.panel-body
					%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					.logo.text-center
						%img{:src => "images/logo.jpg", :alt => ""}/
					.btn-slideup.hover
						%span
							%i.glyphicon.glyphicon-chevron-up
				#carousel-2.carousel.slide{"data-ride" => "carousel"}
					%ol.carousel-indicators
						%li.active{"data-slide-to" => "0", "data-target" => "#carousel-2"}
						%li{"data-slide-to" => "1", "data-target" => "#carousel-2"}
						%li{"data-slide-to" => "2", "data-target" => "#carousel-2"}

					.carousel-inner{:role => "listbox"}
						.item.active
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/1"}/
						.item
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/3"}/
						.item
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/2"}/

					%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-2", :role => "button"}
						%span.icon-prev{"aria-hidden" => "true"}
						%span.sr-only Previous
					%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-2", :role => "button"}
						%span.icon-next{"aria-hidden" => "true"}
						%span.sr-only Next

					%a.zoom{:href => "#"}		
		.references-item
			.panel
				.panel-heading
					.panel-heading-inner
						.panel-heading-title
							Company, or event headline
						.panel-heading-date
							2015 Sep 9
				.panel-body
					%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					.logo.text-center
						%img{:src => "images/logo.jpg", :alt => ""}/
					.btn-slideup.hover
						%span
							%i.glyphicon.glyphicon-chevron-up
				#carousel-3.carousel.slide{"data-ride" => "carousel"}
					%ol.carousel-indicators
						%li.active{"data-slide-to" => "0", "data-target" => "#carousel-3"}
						%li{"data-slide-to" => "1", "data-target" => "#carousel-3"}
						%li{"data-slide-to" => "2", "data-target" => "#carousel-3"}

					.carousel-inner{:role => "listbox"}
						.item.active
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/1"}/
						.item
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/3"}/
						.item
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/2"}/

					%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-3", :role => "button"}
						%span.icon-prev{"aria-hidden" => "true"}
						%span.sr-only Previous
					%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-3", :role => "button"}
						%span.icon-next{"aria-hidden" => "true"}
						%span.sr-only Next

					%a.zoom{:href => "#"}