---
title: Mauri DMC – Study tour
pageclass: page-study-tour
---

.header-illustration
  .text.wow.fadeInBottom
    %h1 
      Le premier rendez-vous Découvrir les 
      %b différentes collections 
      (essayage) Réalisation de vos croquis en fonction de votre évènement, 
      %b de vos goûts, 
      de votre morphologie. Et des tissus qui vou subliment. 
      %b Présentation du 
      devis. Prise de mesure  
  .illustration
    %img.wow.fadeInLeft.animated{:src => "images/backstage-3-mdc-illusztr-2015.png", "data-wow-delay" => "0.5s"}/
    %img.wow.fadeInRight.animated{:src => "images/backstage-2-mdc-illusztr-2015.png", "data-wow-delay" => "0.6s"}/
    %img.wow.fadeInLeft.animated{:src => "images/backstage-1-mdc-illusztr-2015.png", "data-wow-delay" => "0.7s"}/




.container
  
  
  %section.gallery
    %h2.heading-separated
      %span Gallery
    .row
      .col-sm-6
        %span.link.hover{:href => "#"}
          %img.img-responsive{:src => "http://dummyimage.com/920x560/eee/ddd", :alt => ""}/
          .text
            %h3
              Business Analysis and Quali  aining
              %br/
              2015 9 Sep 20
            %p
              L’HOTEL MÉRIDIEN LAISSE LA PLACE Á RITZ-CARLTON 

      .col-sm-6
        %span.link.hover{:href => "#"}
          %img.img-responsive{:src => "http://dummyimage.com/920x560/eee/ddd", :alt => ""}/
          .text
            %h3
              Business Analysis and Quali  aining
              %br/
              2015 9 Sep 20
            %p
              L’HOTEL MÉRIDIEN LAISSE LA PLACE Á RITZ-CARLTON 
      .col-sm-6
        %span.link.hover{:href => "#"}
          %img.img-responsive{:src => "http://dummyimage.com/920x560/eee/ddd", :alt => ""}/
          .text
            %h3
              Business Analysis and Quali  aining
              %br/
              2015 9 Sep 20
            %p
              L’HOTEL MÉRIDIEN LAISSE LA PLACE Á RITZ-CARLTON 
      .col-sm-6
        %span.link.hover{:href => "#"}
          %img.img-responsive{:src => "http://dummyimage.com/920x560/eee/ddd", :alt => ""}/
          .text
            %h3
              Business Analysis and Quali  aining
              %br/
              2015 9 Sep 20
            %p
              L’HOTEL MÉRIDIEN LAISSE LA PLACE Á RITZ-CARLTON 


