@font-face {
  font-family: 'Pilvax';
  src: url('../fonts/Pilvax-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Pilvax-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Pilvax-Black.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Pilvax-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Pilvax-Black.svg#1e998e719e2b0e48a60aa4c63ea81f5a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Pilvax';
  src: url('../fonts/Pilvax-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Pilvax-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Pilvax-BlackItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Pilvax-BlackItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Pilvax-BlackItalic.svg#1f0b87ea379e6caeeedf3b8e5a5c6b2b') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Pilvax';
  src: url('../fonts/Pilvax-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Pilvax-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Pilvax-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Pilvax-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Pilvax-Bold.svg#2255d1f9f2a91f478e1b394e32c5a243') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Pilvax';
  src: url('../fonts/Pilvax-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Pilvax-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Pilvax-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Pilvax-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Pilvax-BoldItalic.svg#5566548de07a5fa779bb2b53b6b9c33f') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Pilvax';
  src: url('../fonts/Pilvax-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Pilvax-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Pilvax-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Pilvax-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Pilvax-Light.svg#ad93b2f8f25cdda5cb2ab5f523d01916') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Pilvax';
  src: url('../fonts/Pilvax-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Pilvax-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Pilvax-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Pilvax-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Pilvax-LightItalic.svg#f3ecdd496772cef02cbe1a3f4b76cc57') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Pilvax';
  src: url('../fonts/Pilvax-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Pilvax-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Pilvax-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Pilvax-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Pilvax-Medium.svg#16bf8d201f85bb082e4a619e69f6d2bc') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Pilvax';
  src: url('../fonts/Pilvax-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Pilvax-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Pilvax-MediumItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Pilvax-MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Pilvax-MediumItalic.svg#9ac8b352c027c7f4b8d3c711fb2cf1b9') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Pilvax';
  src: url('../fonts/Pilvax-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Pilvax-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Pilvax-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Pilvax-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Pilvax-Regular.svg#64a92995ce9ca012eed9d32c01a2ea71') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Pilvax';
  src: url('../fonts/Pilvax-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Pilvax-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Pilvax-RegularItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Pilvax-RegularItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Pilvax-RegularItalic.svg#c0e52862cb7f6f9c4f90464e8d2e31a9') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

